<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Todo Website</title>
</head>
<body>
    <section class="authentication-section">
        <div class="container">
            <h1>Login or Register to Experience our App!</h1>
            <div>
                <a href="/authentication/login" class="input-btn">Login</a>
                <a href="/authentication/Register" class="input-btn">Register</a>
            </div>
        </div>
    </section>
</body>
</html>