<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <h1>Todo App</h1>
                <nav class="show-nav">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </nav>
                <ul class="nav-list">
                    <button class="change-btn exit-nav"><img src="/image/cancel-icon.png" alt=""></button>
                    <li>
                        <form action="/authentication/logout?_method=DELETE" method="post">
                            <input type="submit" value="Logout" >
                        </form>
                    </li>           
                </ul>
            </div>
        </div>
    </header>
    <section class="edit-card-section">
        <div class="container">
            <h1>Edit Card</h1>
            
            <form action="/todo/editcard/<%= card.slug %>?_method=put" method="post">
                <div>
                    <label for="card_title">Card Title</label>
                    <input type="text" value="<%=card.cardTitle%>" name="card_title">
                </div>
                <input type="submit" value="Edit" class="input-btn">
                <a href="/todo" class="input-btn">Go Back</a>
            </form>
        </div>
    </section>
    <script src="/js/nav.js"></script>
</body>
</html>