<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Todo Website</title>
</head>
<body>
    <section class="login-register-section">
        <div class="container">
            <h1>Login</h1>
            <form action="/authentication/login", method="post">
                    <div>
                        <% if (successful_register != "") { %>
                            <div>
                                <h2 class="message"><%= successful_register %></h2>
                            </div>
                        <% } %>

                        <% if (message != "") { %>
                            <div>
                                <h2 class="message"><%= message %></h2>
                            </div>
                        <% } %>

    
                        
                        
                        
                    </div>
                    
                    
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email">
                </div>
                <div>
                    <label for="password">password</label>
                    <input type="password" name="password">
                </div>
                <div class="login-register-btn">
                    <button type="submit" class="input-btn">Login Now</button>
                    <p>Dont have an account? <a href="/authentication/register">Register Now!</a></p>
                </div>
            </form>
        </div>
    </section>
</body>
</html>