@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*,
*::before,
*::after {
box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Poppins";
    font-weight: 400;
}

img,
picture,
svg,
video {
max-width: 100%;
display: block;
}

body {
    min-height: 100vh;
    background-color: #121212;
    color: white;
}


.hide-btn, .cancel-btn-todo {
    display: none;
}

input {
    background-color: #282828;
    color: #ffffff;
    padding: 10px 15px;
}


a {
    text-decoration: none;
    color: #ffffff;
}
.input-btn {
    text-decoration: none;
    border: 1px solid #ffffff;
    background-color: #282828;
    padding: 5px 10px;
    color: white;
    transition:all 0.3s ease;
}

.input-btn:hover {
    background-color: #ffffff;
    color: #181818;
}


section {
    background-color: #181818;
    min-height: 100vh;
    padding: 1rem 0;
}

header {
    background-color: #181818;
    padding: 1rem 0;
}


/* Typography */

/* Welcome Page */
.welcome-section h1 {
    font-size: 48px;
    font-weight: 700;
}




/* Authentication Page */
.authentication-section h1 {
    font-size: 26px;
    font-weight: 700;
}

/* Login Page and Register Page */
.login-register-section h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

/* Todo Page */

.control-btn {
    padding: 5px 15px;
    border: 1px solid #ffffff;
    background-color: #282828;
    transition:all 0.3s ease;
}

.control-btn:hover {
    background-color: #ffffff;
    color: #181818;
}


.card h1 {
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    
}

.card-title {
    height: 100%;
    max-height: 100px;
    max-width: 40rem;
    overflow: auto;
    white-space: nowrap;
}

/* Typography */

.container {
    width: 90%;
    max-width: 70rem;
    margin-inline: auto;
}

/* Welcome page */
.welcome-section, .authentication-section, .login-register-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-section, .authentication-section {
    text-align: center;
}

.welcome-section h1, .welcome-section a {
    margin: .5em 0;
}


/* Authenticatio and Login, Register Page */
.authentication-section a {
    display: block;
    margin: 1em 0;
}

.login-register-section input, .login-register-section label {
    display: block;
    width: 100%;
}
.login-register-section input {
    margin-bottom: 1em;
}

.login-register-btn, .login-register-btn p {
    margin: 1em 0;
    text-align: center;
}

.login-register-btn button {
    width: 100%;
}

.message {
    border: 1px solid white;
    padding: 10px 20px;
    background-color: #301934;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}


/* Todo Page */

.cards-holder {
    padding: 2rem 0;
}

.card {
    border: 1px solid #301934;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #301934;
    gap: 1em;
    margin-bottom: 1rem;
}



.card input {
    height: 100%;
    width: 100%;
}


/* .grid {
    display: grid;
    gap:1em;
} */

.grid  {
    display: flex;
    gap: 1em;
}
.grid > * {
    flex: 1;
    
}

.grid a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Edit Card Page */
.edit-card-section h1 {
    font-size: 28px;
    text-align: center;
    
}

.edit-card-section label, .edit-card-section input {
    display: block;
    width: 100%;
}

.edit-card-section form {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1em;
}

.edit-card-section a {
    text-align: center;
}

.change-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
    width: 30px;
}

.change-btn:hover {
    transform: scale(1.5);
}

.delete-btn {
    background-image: url('../image/delete-icon-png-19.png');
}

.save-btn {
    background-image: url('../image/save-icon.png');
}

.title-box {
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 26px;
    color: #301934;
    white-space: nowrap;
    resize: none;
    font-weight: 700;
}

.todo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.todo-item-holder {
    display: grid;
    gap: 1em;
    padding: 2em 0;
}

.todos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#ffffff ;
    padding: 1em;
    border-radius: 8px;
}

.delete-edit-btn {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: 1em;
}


/* Header */



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1em;
}

.header h1 {
    color: #301934;
    font-weight: 700;
    font-size: 26px;
}

.header ul {
    list-style: none;
}

.header input {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #301934;
}

.nav-img {
    width: 100%;
    max-width: 5rem;
    
}
.nav-list {
    display: none;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    right: 0;
    top: 0;
    bottom: 0;
    width: 44%;
    z-index: 999;
    padding: 10rem 0;
    font-size: 18px;
}



.nav-list li a {
    color: #301934;
    margin-left: .8em;
}



.exit-nav {
    position: absolute;
    top: 0;
    padding: 3rem 0;
    margin-left: 1rem;
}

.line {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.add-todo-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.add-todo {
    display: flex;
    gap: 1em;
    
}


@media (min-width: 765px) {
    .cards-holder {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1em;
        align-items: center;
    }
}